* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.logo {
  /* border: 1px solid gold; */
  justify-content: center;
  display: flex;
}

.logo img {
  width: 200px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.gallery {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 2px;
  max-width: 400px;
  max-height: 400px;
  flex: 1;
  border-radius: 4px;
}

.contact-section {
  background: #343a40;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.card {
  background: white;
  margin: 10px 20px;
  border-radius: 8px;
  border-bottom: #39a6a3 3px solid;
  height: 200px;
  width: 300px;
}

.card-content {
  margin-top: 50px;
}

.card-content a {
  color: #39a6a3;
}

.fa {
  color: #39a6a3;
}
hr {
  width: 25%;
  margin: 10px auto;
  border: 2px #39a6a3 solid;
}

footer {
  margin-top: 5px;
  height: 100px;
  background: #343a40;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
